.legacy #toolbar {
  position: absolute;
  top: 99px;
  width: 865px;
  padding-left: 35px;
  height: 25px;
}
.legacy #menu {
  position: relative;
  display: inline-block;
}
.legacy #menu ul {
  font-size: 11px;
  line-height: 15px;
  list-style: none;
}
.legacy #menu ul li {
  text-align: left;
  position: relative;
  float: left;
}
.legacy #menu ul li a {
  display: block;
  font-weight: bold;
  background: transparent;
  height: 14px;
  padding: 5px 10px;
}
.legacy #menu ul li a:hover {
  background: url(/images/menu_page_over.jpg) repeat-x right;
}
.legacy #menu ul li a, .legacy #fontscaler span {
  text-decoration: none;
  color: #bbb;
}
.legacy #menu ul li a:hover, .legacy #fontscaler span:hover, .legacy .fontscaler-selected {
  color: #fff !important;
}
.legacy #fontscaler {
  display: none;
  /* only in browseview */
  float: right;
  margin-right: 4px;
  margin-top: 4px;
  height: 12px;
  top: 5px;
  color: #bbb;
  font-family: arial, sans-serif;
}
.legacy #fontscaler span {
  padding-right: 4px;
  cursor: pointer;
}
.legacy #fontscaler-a {
  font-size: 10px;
}
.legacy #fontscaler-aa {
  font-size: 12px;
}
.legacy #fontscaler-aaa {
  font-size: 14px;
}
.legacy #keyboard {
  float: right;
  margin-right: 58px;
  height: 12px;
  width: 18px;
  cursor: pointer;
}
.legacy #keyboard img {
  margin: 0px;
  padding: 0px;
  border: none;
}
.legacy #keyboard_content {
  white-space: nowrap;
  display: none;
  position: absolute;
  z-index: 20;
  width: 340px;
  top: 25px;
  right: 0px;
  background: #f6f6f6;
  border-left: solid #ddd 1px;
  border-bottom: solid #ddd 1px;
  padding: 20px;
  font-size: 17px;
  box-shadow: 1px 1px 20px #999;
}
.legacy #keyboard_content table {
  width: 100%;
}
.legacy #keyboard_content td {
  text-align: center;
  padding-bottom: 10px;
}
.legacy #keyboard_content td span {
  font-size: 28px;
}
.legacy .spacer {
  height: 40px;
}
.legacy .linklike {
  /*
  color: DarkCyan;
  */
  color: #b22;
  cursor: pointer !important;
}
.legacy .linklike-normal, .legacy .linklike-dead {
  text-decoration: underline;
}
.legacy .linklike-dead {
  color: red !important;
}
.legacy .linklike-normal {
  color: darkblue !important;
  cursor: pointer !important;
}
.legacy .red {
  color: red;
}
.legacy #etym-div, .legacy #parsveld-div {
  padding: 20px;
  width: 60%;
  background: white;
  margin: auto;
  min-height: 300px;
}
.legacy span.spinner, .legacy span.spinner-v {
  display: inline-block;
  background: url(/images/spinner.gif) no-repeat;
  background-position: 0px 0px;
  width: 18px;
}
.legacy span.spinner:before, .legacy span.spinner-v:before {
  /* U+2002 */
  content: " ";
}
.legacy span.spinner-v {
  visibility: hidden;
}
.legacy #spinner-main {
  display: none;
  position: absolute;
  visibility: visible !important;
  /* pos set through js */
}
.legacy .search {
  white-space: nowrap;
}
.legacy .search-orig {
  color: #999;
}
.legacy #footer {
  bottom: 0px;
  /*
  position:absolute;
  */
  position: fixed;
  width: 900px;
  height: 20px;
}
.legacy #footer p {
  height: 20px;
  text-align: center;
  background: white;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  color: #999;
}
.legacy #footer a {
  text-decoration: none;
  cursor: pointer;
  color: #999;
}
.legacy #footer a:hover {
  color: #666;
  text-decoration: none;
}
.legacy .cursor-closedhand {
  cursor: url(/images/closedhand.cur) 4 4, move;
}
.legacy .cursor-openhand {
  cursor: url(/images/openhand.cur) 4 4, move;
}
.legacy #header-container {
  position: relative;
}
.legacy #logo {
  position: absolute;
  width: 900px;
  height: 124px;
  background: url(/images/header.jpg) no-repeat;
  cursor: pointer;
}

.legacy {
  /*
  #kruimelpad {
      position: relative;
  }
  */
  /*
  #inside {
      position: relative;
      width: 100%;
      height: 100%;
  }
  */
  /* dimension of tabs is 20x130 */
  /*
  #previous-link, #next-link {
      padding:6px 0px;
      color:#b22;
      border:none;
      display: none;
  }
  */
  /* padding is taken starting from the padding of niv123 (of course).
   * list inside means that the first line (with the a.) is shifted over so
   * the a. lines up with the first char of the next line.
  ol.nivABC { text-indent:0px; padding-left:0px; list-style-type:lower-latin; list-style-position:inside; }
   */
  /* Remember everybody starts with text-indent -20 (currently).
   *
   * When position is outside, the second line hangs to the left of list
   * marker, and text-indent refers to the distance between the
   * list marker and the text.
   *
   * When it's inside, the second line is aligned with the list marker, and
   * text-indent moves the marker and leaves the distance intact.
   *
   * To have it outside, and change the distance between the marker and the
   * text, use margin-left on the first child with a negative number.
   */
  /* dynamically altered in JS in response to hide/show voorbeeld buttons */
}

.legacy #main {
  position: relative;
}
.legacy #kruimelpad {
  position: relative;
  left: 45px;
  padding-bottom: 10px;
  /* width: ~ 807 (set through js) */
  width: 807px;
}
.legacy #content {
  height: 100%;
}
.legacy #presentation-tabs {
  position: absolute;
  top: 197px;
  right: 46px;
}
.legacy #presentation-tab-1, .legacy #presentation-tab-2 {
  height: 20px;
  width: 130px;
  display: inline-block;
  position: relative;
}
.legacy #presentation-tab-1 {
  right: -20px;
}
.legacy #presentation-tab-1-txt, .legacy #presentation-tab-2-txt {
  position: absolute;
  text-align: center;
  left: 0px;
  top: 0px;
  width: 130px;
}
.legacy .presentation-tab-selected {
  opacity: 1;
  /* IE */
  filter: alpha(opacity=100);
  z-index: 10;
  cursor: default;
}
.legacy .presentation-tab-unselected {
  opacity: 0.5;
  /* IE */
  filter: alpha(opacity=50);
  z-index: 9;
  cursor: pointer;
}
.legacy #left, .legacy #right {
  position: absolute;
  top: 216px;
  bottom: 40px;
  overflow: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 1;
}
.legacy #left {
  left: 45px;
  /* avoid horizontal scrollbar */
  overflow-x: hidden;
  overflow-y: hidden;
  width: 175px;
}
.legacy #right {
  left: 220px;
  right: 45px;
  color: black;
}
.legacy .abbr, .legacy .citg-word, .legacy .verw {
  cursor: pointer;
}
.legacy .abbr:hover, .legacy .citg-word:hover, .legacy .verw:hover {
  border-bottom: 2px black dotted;
}
.legacy #citg-parser-container {
  border: 1px solid black;
  background: white;
  padding: 4px;
  position: absolute;
  display: none;
  z-index: 4;
  box-shadow: 0px 0px 6px #999;
}
.legacy #abbr-popup {
  border: 1px solid black;
  background: white;
  padding: 14px 24px 14px 20px;
  position: absolute;
  display: none;
  z-index: 4;
  cursor: pointer;
  box-shadow: 0px 0px 6px #999;
}
.legacy #abbr-popup .parser-close-button-inner {
  position: absolute;
  top: 0px;
  right: 6px;
  color: #333;
}
.legacy .homonym-nr-left:after, .legacy .homonym-nr-right:after {
  content: ". ";
}
.legacy table.search {
  position: relative;
  left: 45px;
  z-index: 2;
}
.legacy table.search td {
  vertical-align: top;
  padding-right: 12px;
}
.legacy table.search input {
  height: 18px;
  width: 170px;
}
.legacy table.search input.search {
  color: black;
}
.legacy table.search input.search-orig {
  color: #999;
}
.legacy #left .hoofdW, .legacy #words-popup .hoofdW {
  padding-left: 10px;
  padding-right: 15px;
  font-weight: normal;
  text-indent: -10px;
  color: #139;
  opacity: 0.5;
  /* IE */
  filter: alpha(opacity=50);
  cursor: pointer;
  /* important so we still get dragging hand */
  display: inline-block;
}
.legacy #previous-link, .legacy #next-link {
  width: 100%;
  height: 20px;
  text-align: center;
  cursor: pointer;
}
.legacy #previous-link img, .legacy #next-link img {
  position: relative;
  /* seems to also work in IE */
  opacity: 0;
}
.legacy #previous-link img {
  top: 30%;
}
.legacy #next-link img {
  top: 30%;
}
.legacy .entry-blur {
  opacity: 0.5;
  /* IE */
  filter: alpha(opacity=50);
}
.legacy .entry-selected {
  opacity: 1 !important;
  /* IE */
  filter: alpha(opacity=100) !important;
}
.legacy .search-hit, .search-highlight {
  background: yellow;
}
.legacy * #words, .legacy * #words-popup {
/*
  font-size: 14px;
  */
}
.legacy #words-popup {
  position: absolute;
  z-index: 3;
  overflow-y: scroll;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow-x: hidden;
  background: white;
  display: none;
}
.legacy #words-popup .word {
  cursor: pointer;
}
.legacy #words-popup-background {
  /* final opacity set in js */
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  /* seems to also work in IE */
  opacity: 0;
  display: none;
  position: absolute;
  top: 0px;
}
.legacy .first-browse-in-words-popup {
  border-top: 1px solid navy;
}
.legacy .last-browse-in-words-popup {
  border-bottom: 1px solid navy;
}

.legacy #words, .legacy #words-popup { font-size: 12px; line-height: 18px; }
