defineBinaryOperator ('|',  (...args) => pipe         (...args))
defineBinaryOperator ('<<', (...args) => compose      (...args))
defineBinaryOperator ('>>', (...args) => composeRight (...args))

import {
  pipe, compose, composeRight,
} from 'stick-js/es'

import React, { Fragment, PureComponent, } from 'react'

import { connect, } from 'react-redux'
import { createStructuredSelector, } from 'reselect'

import styled from 'styled-components'
// import { FormattedMessage, } from 'react-intl'

// import {} from './selectors'
import reducer from './reducer'
import saga from './saga'
// import messages from './messages'

import configure from 'alleycat-js/es/configure'
import { mapX, logWith, } from 'alleycat-js/es/general'
import { ifTrueV, } from 'alleycat-js/es/predicate'
import { mediaQuery, } from 'alleycat-js/es/styled'

// import { } from '../App/actions'
// import { } from '../../slices/domain/selectors'
// import { } from '../../slices/ui/selectors'

// import { } from '../../components/xxx'
// import { } from '../../containers/xxx'

// import { spinner, } from 'alleycat-components'

import { mediaPhone, mediaTablet, mediaDesktop, isMobileWidth, browseLinkForRouter, } from '../../common'
import config from '../../config'
import injectSaga from '../../utils/injectSaga'
import injectReducer from '../../utils/injectReducer'

const { configGet, configGetOr, configGets, configGetOrDie, } = config | configure.init

class {{ properCase name }} extends PureComponent {
  render () {
    return (
      <div>
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    )
  }
}

const mapStateToProps = createStructuredSelector ({
})

const mapDispatchToProps = (dispatch) => ({
})

export default {{ properCase name }}
  | connect       (mapStateToProps, mapDispatchToProps)
  | injectSaga    ({ saga, key: '{{ camelCase name }}', })
  // --- local reducer (optional)
  | injectReducer ({ reducer, key: '{{ camelCase name }}', })
