defineBinaryOperator ('|',  (...args) => pipe         (...args))
defineBinaryOperator ('<<', (...args) => compose      (...args))
defineBinaryOperator ('>>', (...args) => composeRight (...args))

import {
  pipe, compose, composeRight,
  tap,
} from 'stick-js/es'

import React, { PureComponent, } from 'react'

// import { FormattedMessage, } from 'react-intl'
import styled from 'styled-components'

import configure from 'alleycat-js/es/configure'
import { logWith, } from 'alleycat-js/es/general'

import config from '../../config'

// import messages from './messages'

const { configGet, configGetOr, configGets, configGetOrDie, } = config | configure.init

export default class {{ properCase name }} extends PureComponent {
  render () {
    return <div>
    </div>
  }
}
